@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  width: 100%;
  height: fit-content;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  width: inherit;
  height: inherit;
}

.leftSide{
  width: 50rem;
}

.rightSide{
  width: 56rem;
}

[class*="index"]{
  transition: .2s ease-in-out;
}

.in{
  transform: translateX(20%) scale(1.3);
  color: rgb(230, 135, 62);
}
